src/main/mule/get-orders.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-ordersFlow" doc:id="a71e2bd8-f937-40c7-9696-077f3e72f807" >
		<salesforce:query doc:name="Query" doc:id="cf77d478-3cef-4f79-a6b3-406be3d1644c" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[select * from order_detail where Id = :Id]]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[{
	"Id": attributes.uriParams.orderID
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="e0baff69-c8fd-4686-8144-766960dfdda9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
